@model MvcEventCalendar.Models.Event
@Html.HiddenFor(model => model.EventId)
<div class="editor-label">
    @Html.LabelFor(model => model.CategoryId)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.CategoryId)
    @Html.ValidationMessageFor(model => model.CategoryId)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.PlaceId)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PlaceId)
    @Html.ValidationMessageFor(model => model.PlaceId)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Title)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Title)
    @Html.ValidationMessageFor(model => model.Title)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Price)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Price)
    @Html.ValidationMessageFor(model => model.Price)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.EventDate)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.EventDate)
    @Html.ValidationMessageFor(model => model.EventDate)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.StartTime)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.StartTime)
    @Html.ValidationMessageFor(model => model.StartTime)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.EndTime)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.EndTime)
    @Html.ValidationMessageFor(model => model.EndTime)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Description)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Description)
    @Html.ValidationMessageFor(model => model.Description)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.EventPlaceUrl)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.EventPlaceUrl)
    @Html.ValidationMessageFor(model => model.EventPlaceUrl)
</div>
